<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <META charset="utf-8">
    <LINK rel="stylesheet" href="styles/4-common.css">
    <LINK rel="stylesheet" href="styles/3-header.css">
    <LINK rel="stylesheet" href="styles/3-footer.css">
    <LINK rel="stylesheet" href="styles/6-filters.css">
    <LINK rel="icon" href="images/icon.ico" type="image/png">
    <TITLE>AirBnb Clone</TITLE>
    </HEAD>
  <BODY>
    <HEADER>
      <DIV class="logo">
      </DIV>
    </HEADER>
    <DIV class="container">
      <SECTION class="filters">
        <DIV class="locations">
          <H3>States</H3>
          <H4>&nbsp;</H4>
          <UL class="popover">
            {% for state in states|sort(attribute='name') %}
              <LI>
                <h2>{{ state.name }}:</h2>
                <UL>
                  {% for city in state.cities|sort(attribute='name') %}
                    <LI>{{ city.name }}</LI>
                  {% endfor %}
                </UL>
              </LI>
            {% endfor %}
          </UL>
        </DIV>
        <DIV class="amenities">
          <H3>Amenities</H3>
          <H4>&nbsp;</H4>
          <UL class="popover">
            {% for amenity in amenities|sort(attribute='name') %}
              <LI>{{ amenity.name }}</LI>
            {% endfor %}
          </UL>
        </DIV>
        <BUTTON>
          Search
        </BUTTON>
      </SECTION>
    </DIV>
    <FOOTER>
      <p>
        Holberton School
      </p>
    </FOOTER>
  </BODY>
</html>